@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Transition styles for header links */
.underline-transition {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-transition::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: #2FD1A9; /* Example color (amber-400) */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.underline-transition:hover::after,
.underline-transition.active::after {
  visibility: visible;
  transform: scaleX(1);
}


/* Services box shadow */
.serviceBoxShadow {
  transition: all 0.1s ease-in-out; /* Add this line */
  -webkit-transition: all 0.1s ease-in-out; /* For older versions of Webkit */
  -moz-transition: all 0.1s ease-in-out; /* For older versions of Firefox */
}

.serviceBoxShadow:hover {
  box-shadow: -1px 1px 13px 6px rgba(47,209,169,0.82);
  -webkit-box-shadow: -1px 1px 13px 6px rgba(47,209,169,0.82);
  -moz-box-shadow: -1px 1px 13px 6px rgba(47,209,169,0.82);
  scale: 1.02;
}